.FounderImageContainer div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.FounderImageContainer {
    /* height: 600px; */
    max-height: 50vh;
    width: 90%;
    overflow: hidden;
    display: flex;
    /* align-items: center; */
    border-radius: 20px;
}

.ContentContainerFounder {
    height: 100%;
    display: flex;
    color: white;
    align-items: center;

    /* align-items: center; */
}

.FounderCardsContainer div .FounderRow {
    background-color: #173022;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 40px 0 #00000040;
}

/* 
.FounderCardsContainer .FounderRowStick {
    position: sticky;
    top: 20%;
} */

.TeamMembersCards .FounderImageContainer {
    display: flex;
    flex-direction: column;
}

.TeamMembersCards {
    margin-top: 4rem;
}

.TeamMembersCards .ant-row {
    background-color: #173022;
    padding: 40px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    position: sticky;
    z-index: 4;
}

.TeamMembersCards .FounderImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.TeamMembersCard div img {
    width: 100%;
}

@media (max-width:900px) {
    .FounderCardsContainer div .FounderRow {
        background-color: #173022;
        padding: 20px 20px;
        border-radius: 20px;
        box-shadow: 0 10px 40px 0 #00000040;
    }

    .FounderImageContainer {
        /* height: 600px; */
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .ContentContainerFounder {
        margin-top: 20px;
    }
}