#AboutHomeComponent {
    background-color: white;
    color: rgb(0, 0, 0);
}

.AboutHomeSectionImageContainer>div img {
    width: 100%;
    transition: .5s;
    /* height: 100%; */
    object-fit: cover;
}

/* 
.AboutHomeSectionImageContainer>div:hover img {
    transform: scale(1.1);
    transition: .5s;
} */

.AboutHomeSectionImageContainer .ParallaxZoomImage {
    /* height: 500px; */
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#AboutHomeComponent .PaddingAdjustHeadingContainer .ant-row .ant-col:first-child {
    padding-right: 4rem;
}

#AboutHomeComponent .PaddingAdjustHeadingContainer .ant-row .ant-col:first-child>div {
    height: 100%;
    display: flex;
    align-items: center;
}



.ScrollWord {
    font-size: 50px;
    color: white;
}

.LeftToRight {
    display: flex;
    justify-content: end;
    gap: 100px;
    transition: .5s;
}

.RightToLeft {
    display: flex;
    justify-content: start;
    gap: 100px;
    transition: .3s;
}
.AboutusCardsContainer{
    overflow: hidden;
}

.AboutusCardsContainer .ant-row .ant-col span {
    color: #c5c5c5;
    font-size: 4rem;
    font-weight: 400;
}

.AboutusCardsContainer .ant-row .ant-col span b {
    font-weight: 400;
    color: #1E402D;
}

.AboutusCardsContainer .ant-row .ant-col {
    padding: 20px 0px;
    border-bottom: 1px solid #c5c5c5;
}

.AboutusCardsContainer .ant-row .ant-col:last-child {
    padding: 20px 0px;
    border-bottom: 1px solid transparent;
}

.AboutHomeSectionImageContainer {
    position: sticky;
    top: 30%;
}

@media (min-width:1500px) and (max-width:4000px) {
    #AboutHomeComponent .PaddingAdjustHeadingContainer .ant-row .ant-col:first-child {
        padding-right: 8rem;
    }

}

@media (max-width:900px) {
    #AboutHomeComponent .PaddingAdjustHeadingContainer .ant-row .ant-col:first-child {
        padding-right: 0rem;
    }


    .AboutusCardsContainer .ant-row .ant-col {
        padding: 20px 0px !important;
        border-left: 1px solid transparent;
        margin: 10px 0px;
    }

    .AboutHomeSectionImageContainer .ParallaxZoomImage {
        height: 100%;
        object-fit: cover;
        width: 100%;
        overflow: hidden;
        margin-top: 20px;
    }
}